<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/api.go"></link>
   <link rel="stylesheet" href="/style/hellof.css">
    <title>Artist Details</title>
</head>
<body>
{{range .}}
    <div class="band"><h2 name = "ID">{{ range .Locationf.Locations}}<br>{{.}}{{end}}</h2></div> 
    <h2> </h2>
    <div style="width: 10%;"><img src="{{ .Artistf.Image}}" alt=""></div>
    {{range $DatesLocations, $value := .RelationStruct}}
    <li>{{$DatesLocations}}: {{$value}}</li>
    {{end}}
{{end}}
</body>
</html>
