<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/api.go"></link>
   <link rel="stylesheet" href="/style/hellof.css">
    <title>Artist Details</title>
</head>
<body>
        {{range .}}
        <div class="atable">
        <p>{{ range .Locationf.Locations}}<li>{{.}}</li>{{end}}</p>
        <img class="img2" src="{{ .Artistf.Image}}" alt="">
        <p>{{ range .Datef.Dates}}<li>{{.}}</li>{{end}}</p>

{{end}}
</div>
</body>
</html>
