<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/api.go"></link>
    <link rel="stylesheet" href="/style/hello.css">
    <title>Artist Archive</title>
</head>
<body>
    <div class="container">
        <h1>Artist Archive</h1>
<br>
{{range .}}
<div class="card-container">
    <img src="{{ .Artistf.Image}}" alt="Artist"></img>
    <div class="text">
        <h2><a href="/artist/{{ .Artistf.ID}}">{{ .Artistf.Name }}</a></h2>
        <p class="inf"> Members: <br> {{ range .Artistf.Members }}{{.}} {{ end }} <br><br>
            Creation Date: {{ .Artistf.CreationDate }} <br>
       </p> 
    </div>
    <div class="band"><h2>{{ .Artistf.Name}}</h2></div>
</div>
{{end}}
</div>
</body>
</html>